<!doctype html>
<html lang="en-us">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <title>
      {% block title %}{{ site_name | default("Philipp Geyer") }}{% endblock %}
      {% block subtitle %}{% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if site_owner is defined %}<meta name="author" content="{{ site_owner }}" />{% endif %}
    {% if site_description is defined %}<meta name="description" content="{{ site_description }}" />{% endif %}
    {% if site_keywords is defined %}<meta name="keywords" content="{{ site_keywords }}" />{% endif %}
    {% block meta %}{% endblock %}
    <link rel="stylesheet" href="{{ url_for("static", file="style.css") }}" type="text/css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lora&family=Space+Mono&display=swap" />
    {% endblock %}
  </head>
  <body>
    {# Top navigation bar #}
    {% block nav %}
      <header>
        <h1>
          <a href="{{ url_for("index") }}">
            {% block title %}{{ site_name | default("Philipp Geyer") }}{% endblock %}
          </a>
        </h1>
        <a href="#main" class="visually-hidden">jump to main content</a>
        <nav>
          <ul class="menu">
            <li><a href="{{ url_for("blog") }}">posts</a></li>
            <li><a href="{{ url_for("articles") }}">pages</a></li>
          </ul>
        </nav>
      </header>
    {% endblock %}

    {# Probably where most of the action will happen #}
    <main id="main">
      {% block main %}{% endblock %}
    </main>

    {# Links, copyright notice, etc #}
    {% block footer %}
    <footer>
      <div id="footer_content">
	<ul class="menu">
	  <li><a href="{{ url_for("pages", slug="about") }}">about</a></li>
	  <li><a href="{{ url_for("cv", slug="00") }}">experience</a></li>
	  <li><a href="https://github.com/nistur/cv/releases/latest">CV</a></li>
	</ul>
	<ul class="menu">
	  <li><a href="{{ url_for("pages", slug="contact") }}">contact</a></li>
	  <li><a href="{{ url_for("pages", slug="credits") }}">credits</a></li>
	</ul>
	</div>
      </footer>
    {% endblock %}

  </body>
</html>
